.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 10px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    // font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;

    &:hover {
        background-color: #a053f9;
        color: white;
        border: none;
    }
    &.google-sign-in {
        background-color: #4285f4;
        color: white;
        border: none;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }
}