body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

/* .layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom_heading-container h2 {
  font-weight: bold;
  border-bottom: 1px solid #feb543;
  padding-bottom: 5px;
} */


/*header section*/
/* .hero_area {
  height: 94vh;
  background: -webkit-gradient(linear, left top, right top, from(#864ddf), to(#203376));
  background: linear-gradient(to right, #864ddf, #203376);
}

.hero_area::before {
  content: "";
  position: absolute;
  width: 58%;
  height: 86%;
  background-image: url(./assets/images/hero-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 25px;
  right: 0;
} */
/*end header section*/